@import './assets/scss/modules/fonts';

html {
  font-size: 10px;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

input, button {
  border: 0;
  outline: 0;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
}
