.card-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 263px;
  height: 100%;
  padding: 20px;
  background-color: #e5e5e5;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

  .statistics {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: 20px;
    padding-left: 25px;
    font-size: 1rem;
  }

  img {
    width: 220px;
  }

  .title {
    font-size: 2rem;
    text-align: justify;
  }
}

.viewed,
.liked,
.disliked,
.comments {
  position: relative;
}

.viewed,
.liked,
.disliked,
.comments {
  &::before {
    position: absolute;
  }
}

.viewed::before {
  content: url('../../../assets/images/viewed.png');
  left: -25px;
}

.liked::before {
  content: url('../../../assets/images/liked.png');
  left: -20px;
}

.disliked::before {
  content: url('../../../assets/images/dislike.png');
  left: -20px;
}

.comments::before {
  content: url('../../../assets/images/Comments.png');
  left: -20px;
}

.more-info {
  width: 120px;
  height: 32px;
  color: #ffffff;
  background-color: #2f80ed;
  border-radius: 5px;
  margin-left: auto;
  margin-top: auto;
  transition: 0.5s;

  &:hover {
    background-color: #5ea2ff;
  }
}
