:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80vh;

  &__text {
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    padding-left: 50px;
  }
}
