:host {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 45px;
}

.authentication {
  width: 350px;
  padding: 25px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
}

.form-title {
  font-weight: bold;
  font-size: 1.8rem;
  padding-bottom: 11px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;

  label {
    font-weight: normal;
    font-size: 1rem;
    color: #828282;
    margin-bottom: 5px;
  }
}

.form-control {
  width: 100%;
  height: 37px;
  padding: 10px;
  box-sizing: border-box;
  background: #e0e0e0;
}

.btn-auth {
  width: 124px;
  height: 30px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #2f80ed;
  cursor: pointer;
  box-shadow: 2px 0 4px #2f80ed;
  transition: 0.5s;
  margin: 20px 0 0 auto;

  &:hover {
    background-color: #5da2ff;
  }
}

input.ng-touched.ng-invalid {
  border: solid red 2px;
}
input.ng-touched.ng-valid {
  border: solid green 2px;
}

.user-info {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  background-color: #E5E5E5;
  border-radius: 5px;
  padding: 10px;
}

.log-out {
  background-color: #2f80ed;
  transition: 0.5s;
  box-shadow: 2px 0 4px #2f80ed;
  color: #ffffff;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px;

  &:hover {
    background-color: #5da2ff;
  }
}
